<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="origen1" value="kACFR/kPeFV2mrCbQ4oiTkLtITcUijRX0m9ES09DOku3Ij13jIQGh/Kvc/cWWoWqDMfF1gGnsY8z+Gb/vF0gCt2ZoUlhblELzP9kjOL6xsCWA/vu2C+YFobhfwKe9foz0plL/2EOHbsucUgfgX0aZfGIO9P1Lo9hac2CUc7OC69HRGnJUloNW9CblsGcFEn1GKyweLqbl2ZDxPxZa030ZVguIutxaoPZ80gU2YC8A7StGD89X4iiXXvVF2KeIR+lhzHt89uCa+M0HmEWujEQrBM+vjHDQs5aTiXtTobT3tw=" />
    <add key="origen2" value="zZMIJGQ0hij/espEpJ4FCmAfSe5Q1LG4hpayljpK1xzKwJSjr86VlgzGrdhiZQMBzsliNhAjghSqfg3Djzh6EuUXBgwNglM4G17i3585LemPOH01mg7Jm2sBdDv+8ubJnErL1n8WPEg+rvV5hyN6UUCunRTKq7kg+lbhvQpkjAiUlxJ9TWJF18U7uOsNw/WRHQ2vZTkqkbMc71QVRev62Fa7pOUOquzKzGHv2ZhXsQ3gQpPaZMgtmwRLxyl9zMHIlFlBZIeLEjBH73gJz7EudA==" />
    <add key="urlBizagi" value="http://172.16.1.24/CrediPolizaDev/WebServices/WorkflowEngineSOA.asmx"/><!--Si aplica para el Seteo en Bizagi-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eCollectWebservicesv3Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="eCollectWebservicesv3Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test1.e-collect.com/app_Express/webservice/eCollectWebservicesv3.asmx"
                binding="basicHttpBinding" bindingConfiguration="eCollectWebservicesv3Soap"
                contract="WsEcollect.eCollectWebservicesv3Soap" name="eCollectWebservicesv3Soap" />
        </client>
    </system.serviceModel>
</configuration>